.login{
    background-color:#f8f8f8 ;
    height: 100vh;
    width:100vw;
    display:grid;
    place-items: center;
}
.login__container{
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
.login img{
    width: 100px;
    margin-bottom: 40px;
}
.login__container button{
    text-transform: uppercase;
    margin-top: 50px;
    background-color: #0a8d48;
    color: white;
    box-sizing: border-box;
    height: 40px;
    transition: all 0.5s;
}
.login__container button:hover{
    color: #0a8d48;
    border: 1px solid #0a8d48;
}