*{
  margin:0;
  padding:0;
}
.App{
  background-color: #dadbb3;
  height: 100vh;
  display: grid;
  place-items: center;
}
.app__body{
  max-width: 1000px;
  display: flex;
  height: 90vh;
  width: 80%;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}